<main class="container">
    <div class="row g-4">
        
        <!-- render sidebar -->
        <%= render 'shared/sidebar' %>
        <!-- sidebar ends -->

        <!-- main content start -->
        <div class="col-md-8 col-lg-6 vstack gap-4">
            <!-- main content header start -->
            <div class="main-content-header h-100">
                <div class="py-2 px-3 header bg-white d-sm-flex align-items-center text-center justify-content-sm-between rounded border mb-3">
                    <h1 class="h4 card-title">Requests</h1>
                    <%= link_to '#', class: 'btn btn-primary-soft rounded' do %>
                        <i class="bi bi-plus-lg"></i>
                        Add prayer requests
                    <% end %>
                </div>
                <!-- content-item-1 starts -->
                <div class="d-flex bg-white border rounded p-3 mb-3">
                    <!-- Image -->
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        alt="John Doe"
                        class="me-3 rounded-circle"
                        style="width: 60px; height: 60px;"
                    />
                    <!-- Body -->
                    <div>
                        <h5 class="">
                        John Doe
                        <small class="text-muted">Posted on February 19, 2021</small>
                        </h5>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        </p>

                        <!-- content-sub-item starts -->
                        <div class="d-flex bg-white py-2 align-items-center mb-0">
                            <div>

                                <!-- Image -->
                                <img
                                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                    alt="John Doe"
                                    class="me-2 rounded-circle"
                                    style="width: 30px; height: 30px;"
                                />
                            </div>
                            <!-- content-sub-item-body -->
                            
                            <h6 class="my-auto">
                                Tolase Adegbite
                                <small class="fw-normal">
                                    replied on February 19, 2021
                                </small>
                            </h6>
                            <!-- content-sub-item-body ends -->
                        </div>
                        <!-- content-sub-item ends -->
                    </div>
                    <!-- body ends -->
                </div>
                <!-- content-item ends -->
                <!-- content-item-2 starts -->
                <div class="d-flex bg-white border rounded p-3 mb-3">
                    <!-- Image -->
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        alt="John Doe"
                        class="me-3 rounded-circle"
                        style="width: 60px; height: 60px;"
                    />
                    <!-- Body -->
                    <div>
                        <h5 class="">
                        John Doe
                        <small class="text-muted">Posted on February 19, 2021</small>
                        </h5>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        </p>

                        <!-- content-sub-item starts -->
                        <div class="d-flex bg-white py-2 align-items-center mb-0">
                            <div>

                                <!-- Image -->
                                <img
                                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                    alt="John Doe"
                                    class="me-2 rounded-circle"
                                    style="width: 30px; height: 30px;"
                                />
                            </div>
                            <!-- content-sub-item-body -->
                            
                            <h6 class="my-auto">
                                Tolase Adegbite
                                <small class="fw-normal">
                                    replied on February 19, 2021
                                </small>
                            </h6>
                            <!-- content-sub-item-body ends -->
                        </div>
                        <!-- content-sub-item ends -->
                    </div>
                    <!-- body ends -->
                </div>
                <!-- content-item ends -->
            </div>
            <!--  main content header ends -->
        </div>
        <!-- main content ends -->
    </div>
</main>