<%= provide(:title, 'New listing') %>

<main class="container my-3">
    <div class="header bg-white my-4 p-3 shadow-sm rounded">
        <h1>New Listing</h1>
    </div>

    <div class="main-content bg-white p-3 shadow-sm rounded">
        <%= render 'form', listing: @listing %>
    </div>
</main>
